  - name: Copying rabbitmq repo
    ansible.builtin.copy:
      src: rabbitmq.repo
      dest: /etc/yum.repos.d/rabbitmq.repo

  - name: Installing rabbitmq
    ansible.builtin.dnf:
      name: "{{ item }}"
      state:  installed
    loop:
    - erlang
    - rabbitmq-server

  - name: Starting and enabling service
    ansible.builtin.service:
      name: rabbitmq-server
      state: started
      enabled: yes

  - name: Setting username and password
    community.rabbitmq.rabbitmq_user:
      user: roboshop
      password: "{{ MY_Rabbitmq_PWD }}"
      permissions:
        - vhost: /
          configure_priv: .*
          read_priv: .*
          write_priv: .*
      state: present